body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

label {
    display: block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

label:hover {
    background-color: #2980b9;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
